/* font-family: 'Roboto', sans-serif; */

.header-top {
  margin: 0px 140px;
  display: flex;
  background: white;
}

.ht-left {
  display: flex;
  align-items: center
}

.ht-right {
  display: flex;
  justify-content: end;
  align-items: center;
  /* float: right; */
}

.logo {
  padding: 15px;
  height: 32px;
  width: 180px;
}

.search-bar {
  align-items: flex-start;
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

.login-btn {
  float: right
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #333;
  color: red;
  font-weight: 200;
}

.header-bottom {
  background: #333;
}

.topnav {
  margin: 0px 250px;
}