.fyp-wrapper {
  background: #f7f7f7;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  background: white;
  width:300px;
  height:300px;
  text-align: center;
}

.img-wrapper {
  width: 300px;
  height: 300px;
}

.img {
  width: 300px;
  height: 300px;
  align-items: center;
}