.fyp-wrapper {
  background: #f7f7f7;
  /* display: flex; */
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
}

.box {
  display: block;
  justify-content: center;
  background: white;
  width:600px;
  height:600px;
  text-align: center;
}

.img-wrapper {
  width: 300px;
  height: 300px;
}

.img {
  width: 300px;
  height: 300px;
  align-items: center;
}