.tc-wrapper {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  padding-left: 50px;
  padding-right: 50px;
}

.tc {
  width: 100px;
  height: 100px;
  background: white;
  text-align: center;
}